/* NavBar.css */
.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  